@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

html, body {
    height: 100%;
}

form {
    padding: 15px 25px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

a {
    color: #43c000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#wrapper {
    margin: 1% auto 0;
    background: #f7f7f7;
    width: 90%;
    border: 2px solid #212121;
    border-radius: 4px;
    height: 95%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#chatbox {
    table-layout: fixed;
    text-align: left;
    margin: 0 auto;
    padding: -10px;
    background: #FFF;
    height: 100%;
    width: 80%;
    border: 2px solid #a7a7a7;
    overflow: auto;
    border-radius: 4px;
    border-bottom: 4px solid #a7a7a7;
    position: relative;
}

#name {
    border-radius: 4px;
    border: 1px solid #ff9800;
    padding: 2px 8px;
}

#usermsgwrapper {
    position: relative;
    bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 300%;
}

#usermsg {
    width: 75%;
    padding-left: 5px;
    line-height: 25px;
    border-radius: 2px;
    border: 2px solid #43c000;
    margin: 10px;
}

#submitmsg {
    margin: 10px;
    width: 15%;
    background: #58cc02;
    border: 2px solid #43c000;
    color: white;
    padding: 4px 10px;
    border-radius: 2px;
}

.error {
    color: #ff0000;
}

#menu {
    padding: 15px 25px;
    display: flex;
}

#menu p.welcome {
    flex: 1;
}

.msgln {
    margin: 0 0 5px 0;
}

.msgln span.left-info {
    color: orangered;
}

.msgln span.chat-time {
    color: #666;
    vertical-align: super;
}

.msgln b.user-name,
.msgln b.user-name-left {
    font-weight: bold;
    background: #546e7a;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 0 5px 0 0;
}

.msgln b.user-name-left {
    background: orangered;
}

.chat__header {
    text-align: center;
}

.chat__item {
    display: flex;
    align-items: flex-start;
}

.chat__person-avatar {
    border-radius: 50%;
}

.chat__messages {
    margin-left: 10px;
}

.chat__message {
    display: flex;
    align-items: center;
    margin: 3px;
}

.chat__message-content {
    border-radius: 5px;
    padding: 7px;
    background-color: #e5e5e5;
    display: inline-block;

    margin-left: 5px;
}

.chat__item--responder {
    flex-direction: row-reverse;
}

.chat__item--responder .chat__message {
    flex-direction: row-reverse;
}

.chat__item--responder .chat__message-content {
    margin-left: 0;
    margin-right: 5px;
    background-color: #89e219;
}

/* Specifies the size of the audio container */
audio {
    width: 120px;
    height: 25px;
}

audio::-webkit-media-controls-panel {
    -webkit-justify-content: center;
    height: 25px;
}

/* Removes the timeline */
audio::-webkit-media-controls-timeline {
    display: none !important;
}

/* Removes the time stamp */
audio::-webkit-media-controls-current-time-display {
    display: none;
}

audio::-webkit-media-controls-time-remaining-display {
    display: none;
}