@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  font-size: 14px;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  margin: 20px auto;
  font-family: "Lato";
  font-weight: 300;
}

form {
  padding: 15px 25px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

form label {
  font-size: 1.5rem;
  font-weight: bold;
}

input {
  font-family: "Lato";
}

a {
  color: #0000ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#wrapper,
#loginform {
  margin: 0 auto;
  padding-bottom: 25px;
  background: #f7f7f7;
  width: 700px;
  max-width: 100%;
  border: 2px solid #212121;
  border-radius: 4px;
}

#loginform {
  padding-top: 18px;
  text-align: center;
}

#loginform p {
  padding: 15px 25px;
  font-size: 1.4rem;
  font-weight: bold;
}

#right {
  text-align: right;
  border: 1px solid #c7f7c7;
  width: 330px;
  border-radius: 4px;
  border-bottom: 4px solid #a7a7a7;
  margin: 0 auto;
  padding: 10px;
  flex-direction: row-reverse;
  right: 10px;

}

#left {
  text-align: left;
  border: 1px solid #fff7c7;
  width: 330px;
  border-radius: 4px;
  border-bottom: 4px solid #a7a7a7;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  left: 10px;
  margin-left: 10px;
}

#chatbox {
  table-layout: fixed;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  background: #FFF;
  height: 400px;
  width: 630px;
  border: 2px solid #a7a7a7;
  overflow: auto;
  border-radius: 4px;
  border-bottom: 4px solid #a7a7a7;
  position: relative;
}

#name {
  border-radius: 4px;
  border: 1px solid #ff9800;
  padding: 2px 8px;
}

#enter {
  background: #ff9800;
  border: 2px solid #e65100;
  color: white;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 4px;
}

#usermsgwrapper {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#usermsg {
  width: 75%;
  padding-left: 5px;
  line-height: 25px;
  border-radius: 2px;
  border: 2px solid #43c000;
  margin: 10px;
  font-family: "Lato", sans-serif;
}

#submitmsg {
  margin: 10px;
  width: 15%;
  background: #58cc02;
  border: 2px solid #43c000;
  color: white;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 2px;
}

.error {
  color: #ff0000;
}

#menu {
  padding: 15px 25px;
  display: flex;
  font-size: 16px;
}

#menu p.welcome {
  flex: 1;
}

a#exit {
  color: white;
  background: #c62828;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.msgln {
  margin: 0 0 5px 0;
}

.msgln span.left-info {
  color: orangered;
}

.msgln span.chat-time {
  color: #666;
  font-size: 60%;
  vertical-align: super;
}

.msgln b.user-name,
.msgln b.user-name-left {
  font-weight: bold;
  background: #546e7a;
  color: white;
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 4px;
  margin: 0 5px 0 0;
}

.msgln b.user-name-left {
  background: orangered;
}

.chat__header {
  text-align: center;
}

.chat__item {
  display: flex;
  align-items: flex-start;
}

.chat__person-avatar {
  border-radius: 50%;
}

.chat__messages {
  margin-left: 10px;
}

.chat__message {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.chat__message-content {
  border-radius: 5px;
  padding: 7px;
  background-color: #e5e5e5;
  display: inline-block;

  margin-left: 5px;
}

.chat__item--responder {
  flex-direction: row-reverse;
}

.chat__item--responder .chat__message {
  flex-direction: row-reverse;
}

.chat__item--responder .chat__message-content {
  margin-left: 0;
  margin-right: 5px;
  background-color: #89e219;
}